
**Pyton  + Excel Automation**

In [16]:
# Importing libraries
import pandas as pd

In [17]:
# Storing file paths
FILENAME1= "/home/nueltaj/Downloads/py/data_visualization/sales_jan.xlsx"
FILENAME2= "/home/nueltaj/Downloads/py/data_visualization/sales_feb.xlsx"

# Reading the file
df1 = pd.read_excel(FILENAME1)
df2 = pd.read_excel(FILENAME2)

In [18]:
# Cleaning dataset1
df1.isna().any()
df1.fillna(value={'Sales':2000}, inplace =True)
df1["Sales"]

0    1000.0
1    1500.0
2    2000.0
Name: Sales, dtype: float64

In [19]:
#cleaning dataset 2
df2.isna().any()
df2.fillna(value={'Sales':1400}, inplace =True)
df2["Sales"]

0    1300.0
1    1400.0
2    1800.0
Name: Sales, dtype: float64

In [20]:
# Combining both charts
df_combined=pd.concat([df1,df2])
df_combined

         Date Region   Sales Product
0  2025-01-01  North  1000.0       A
1  2025-01-02  South  1500.0       B
2  2025-01-03   East  2000.0       C
0  2025-02-01   West  1300.0       B
1  2025-02-02  North  1400.0       A
2  2025-02-03  South  1800.0       C

In [21]:
# Converting to an excel file
df_combined.to_excel("Sales_q1.xlsx", index = False)

**Wanna create a summary chart**

In [22]:
# Store the file's path
FILENAME = "/home/nueltaj/Downloads/py/data_visualization/Sales_q1.xlsx"
df = pd.read_excel(FILENAME)

# Total sales by region
region_summary = df.groupby("Region")["Sales"].sum().reset_index()

# Top selling products
top_products = (
    df.groupby("Product")["Sales"].sum().sort_values(ascending=False).reset_index()
)

In [23]:
# export to excel
with pd.ExcelWriter("Sales_summary.xlsx") as writer:
    region_summary.to_excel(writer, sheet_name="Region Summary", index=False)
    top_products.to_excel(writer, sheet_name="Product summary", index=False)

formating the  excel file with openpyxl

In [24]:
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill
from openpyxl.utils import get_column_letter

# Load the Excel file 
workbook = load_workbook("Sales_q1.xlsx")

# worsheet to be formatted
sheet = workbook["Sheet1"]

In [25]:
header_font = Font(bold=True)
header_fill = PatternFill(start_color="ADD8E6", end_color="ADD8E6", fill_type="solid")

for cell in sheet[1]:
    cell.font = header_font
    cell.fill = header_fill

In [26]:
# autofit  the colun widths
for column in sheet.columns:
    max_length = 0
    column_letter = get_column_letter(column[0].column)
    for cell in column:
        try:
            if cell.value:
                max_length=max(max_length,len(str(cell.value)))
                
        except None:
            pass
    adjusted_width = max_length + 2
    sheet.column_dimensions[column_letter].width = adjusted_width

In [27]:
workbook.save("final_report.xlsx")