**This script is about Understanding the use of plotly in creating interactive plotly Histogram**

In [4]:
#importing libraries
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [ ]:
#store the filename's path
FILENAME = "/home/nueltaj/Downloads/py/data_visualization/Sample - Superstore.csv"
df = pd.read_csv(FILENAME,encoding="latin1")
#check the data types of the columns
#df.dtypes
#checking the number of rows and columns in the dataset
#df.shape
#checking columns
#df.columns
df.head()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [6]:
#creating a data object
trace0 = go.Histogram(
    x= df["Sales"],
    name="Sales",
    opacity= .5 
)
trace1 = go.Histogram(
    x= df["Profit"],
    name="Profit",
    opacity= .5 
)

In [7]:
data = [trace0,trace1]

In [8]:
layout = go.Layout(title="Sales and Profit distribution")
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'temp-plot.html'