**This script is about Understanding the use of plotly in creating interactive plotly linecharts**

In [98]:
#importing libraries
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [99]:
#Storing the file path 
FILENAME ="/home/nueltaj/Downloads/py/data_visualization/weather.csv"
weather = pd.read_csv(FILENAME)
weather.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

In [100]:
weather["Date.Full"] = pd.to_datetime(weather["Date.Full"], utc=True)
weather_dt = pd.pivot_table(weather, values =["Data.Temperature.Avg Temp","Data.Wind.Speed"], columns ="Date.Full")
weather_dt.head()

Date.Full,2016-01-03 00:00:00+00:00,2016-01-10 00:00:00+00:00,2016-01-17 00:00:00+00:00,2016-01-24 00:00:00+00:00,2016-01-31 00:00:00+00:00,2016-02-07 00:00:00+00:00,2016-02-14 00:00:00+00:00,2016-02-21 00:00:00+00:00,2016-02-28 00:00:00+00:00,2016-03-06 00:00:00+00:00,...,2016-10-30 00:00:00+00:00,2016-11-06 00:00:00+00:00,2016-11-13 00:00:00+00:00,2016-11-20 00:00:00+00:00,2016-11-27 00:00:00+00:00,2016-12-04 00:00:00+00:00,2016-12-11 00:00:00+00:00,2016-12-18 00:00:00+00:00,2016-12-25 00:00:00+00:00,2017-01-01 00:00:00+00:00
Data.Temperature.Avg Temp,34.841270,35.139683,33.800000,32.266667,40.790476,39.180952,35.453968,44.457143,44.390476,44.558360,...,56.757098,56.334385,51.372611,47.949045,43.308917,39.769716,33.466877,31.889590,37.479495,39.766562
Data.Wind.Speed,7.061492,6.540159,6.573746,7.008984,6.841746,7.219238,7.476571,7.154095,7.759365,6.270568,...,5.965426,5.145710,5.659809,6.300223,6.206529,6.530883,6.771514,7.194763,6.575047,7.492050

In [ ]:
# automating the dataset variable for the lines
line = [
    go.Scatter(
        x=weather_dt.columns,
        y=weather_dt.loc[row_name],
        mode="lines+markers",
        name=f"{row_name}",
    )
    for row_name in weather_dt.index
]

In [102]:
# trace0= go.Scatter(
#         x=weather_dt.index,
#         y=weather_dt["Data.Temperature.Avg Temp"],
#         mode="markers+lines",
#         name="Average Temperature"
#     )
# trace1 =go.Scatter(
#         x=weather_dt.index,
#         y=weather_dt["Data.Wind.Speed"],
#         mode="lines",
#         name="Average Wind speed"
#     )

In [103]:
#data = [trace0,trace1]

In [104]:
layout =go.Layout(title=dict(text = "Average temperature and wind speed",x=0.5,xanchor="center"))

In [105]:
figure = go.Figure(data=line,layout=layout)
pyo.plot(figure)

'temp-plot.html'